* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navs {
  position: fixed;
  top: 0;
  left: -300px; /* Initially hidden off-screen */
  width: 200px;
  height: 100vh;
  background-color: aqua;
  transition: left 0.5s ease; /* Smooth sliding effect */
}

.nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 50px 20px;
}

.nav nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 10px;
}
